/* Dark mode */
body.dark-mode {
    --bg-color: #000000; /* Black */
    --text-color: #C0C0C0; /* Metallic Silver */
    --wall-bg: #444444; /* Slightly lighter gray for defined walls */
    --wall-border: #777;
    --player-bg: #FFD700; /* Yellow (Gold) */
    --goal-bg: gold;  /* Color of the goal area */

    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Light mode */
body.light-mode {
    --bg-color: #f8f8f8; /* Soft off-white for a clean look */
    --text-color: #333333; /* Dark gray for readability */
    --wall-bg: #ccc;
    --wall-border: #aaa;
    --player-bg: #ffcc00; /* Yellow (Gold) */
    --goal-bg: gold;

    background-color: var(--bg-color);
    color: var(--text-color);
}

.game-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#maze {
    position: relative; /* This makes the player’s absolute position relative to the maze container. */
    display: grid;
    grid-template-columns: repeat(10, 40px); /* Adjust columns */
    grid-template-rows: repeat(10, 40px); /* Adjust rows */
    gap: 5px;
    width: fit-content;
    margin: auto;
    background-color: var(--bg-color);
    padding: 10px;
    border: 4px solid var(--text-color);
}


.wall {
    background-color: var(--wall-bg);
    border: 2px solid var(--wall-border);
}

#player {
    background-color: var(--player-bg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

#goal {
    background-color: var(--goal-bg);
    width: 40px;
    height: 40px;
    border-radius: 10px;
}