/* 1. Dark mode theme variables and background */
body.dark-mode {
    /* Dark Olive */
    --bg-color:  linear-gradient(145deg, #6b6b3b 0%, #3a3a1a 100%);
    /* Opposite of the bg color */
    --opposite-bg-color: linear-gradient(145deg, #3a3a1a 0%, #6b6b3b 100%);
    /* Brighter grey at the top */
    --bg-gradient-top: #232323;   
    /* Darker grey at the bottom */
    --bg-gradient-bottom: #181818; 
    /* Metallic Silver */
    --primary-text-color: #C0C0C0;
    /* For buttons */
    --secondary-text-color: #C0C0C0; 
    /* Light gray for dark mode */
    --maze-wall-color: #888888; 
    
    background: linear-gradient(to bottom, var(--bg-gradient-top), var(--bg-gradient-bottom));
}

/* Light mode theme variables and background */
body.light-mode {
    /* Deep dark purple */
    --bg-color: linear-gradient(145deg, #3a1c4a 0%, #1a0823 100%);
       /* Opposite of the bg color */
    --opposite-bg-color: linear-gradient(145deg, #1a0823 0%, #3a1c4a 100%);
    /* Light grey at the top */
    --bg-gradient-top: #bdbdbd;   
    /* Slightly darker grey at the bottom */
    --bg-gradient-bottom: #a3a3a3; 
    /* Darker grey */
    --primary-text-color: #181818;
    /* Metallic Silver for buttons*/
    --secondary-text-color: #C0C0C0;
    /* Dark gray for light mode */
    --maze-wall-color: #333333;
  
    background: linear-gradient(to bottom, var(--bg-gradient-top), var(--bg-gradient-bottom));
}

/* 2. Basic Resets and Typography */
body {
    margin: 0;
    padding: 0;
}


* {
    font-family: 'Cinzel', 'EB Garamond', serif !important;
}

/* 3. Layout Containers */
#page {
    /* Enable flexbox */  
    display: flex;          
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    /* Ensure the page fills the viewport */
    min-height: 100vh;   
    text-align: center; 
}
#menu {
    margin: auto;
    padding: 10px;
    height: 65px;
    box-sizing: border-box;
}

/* 4. Game Title heading */
.game-title {
    display: block;
    margin-top: 50px;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    color: var(--primary-text-color);
}

/* 5. How to play instructions */
#how-to-play {
    color: var(--primary-text-color);
    margin-bottom: 1em;
}

.how-to-summary {
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}

ul {
    margin: 0.5rem auto 0 auto;
    padding-left: 1.5em;
    width: fit-content;
    text-align: left;
}

/* 6. Maze View, Container and Canvas */

/* Maze View */
#view {
    margin-top: 30px;
    width: 100%;
    height: auto;
}

/* Maze Container */
#mazeContainer {
    display: block; 
    top: 15px;
    opacity: 1;
    margin: 0 auto;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
}

/* Maze Canvas */
#mazeCanvas {
    margin: 0;
    display: block;
    width: 600px;
    height: 600px;
    max-width: 500px;
    max-height: 60vh;
}

/* 7. Form Elements */
.app-btn {
    cursor: pointer;
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: var(--bg-color);
    color: var(--secondary-text-color);
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: inherit;
    font-weight: 600;
    box-shadow:
    /* main shadow */
    0 4px 12px rgba(0,0,0,0.25), 
    /* inner shadow for depth */
    0 1.5px 0 #222 inset;         
    transition: 
    box-shadow 0.15s,
    transform 0.1s,
    background 0.2s;
}
.app-btn:hover {
    background:
    /* Top layer */
    linear-gradient(
      to bottom,
      rgba(0,0,0,0.25),
      rgba(0,0,0,0.35)
    ),
    /* Bottom layer */
    var(--bg-color);
  transition: background 0.2s;
}

.app-btn:active {
    box-shadow:
      0 2px 4px rgba(0,0,0,0.18),
      0 1.5px 0 #222 inset;
    transform: translateY(2px) scale(0.97);
    /* Opposite linear gradient to give a 3D look when pressed */
    background: var(--opposite-bg-color)
  }

.app-btn:focus {
    outline: none;
}

.custom-select {
    display: inline-block;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: 125px center;
}

#timer {
    /* dark semi-transparent background */
    background: var(--bg-color); 
    /* white text for contrast */
    color: var(--secondary-text-color);                       
    padding: 6px 16px;                  
    border-radius: 8px;                 
    font-weight: 600;
    display: inline-block;
    margin: 8px 0 8px 20px;
    font-size: 1.2rem; 
}

/* 8. Message Overlay */
#message-container {
    visibility: hidden;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.30);
    z-index: 1;
}

#message {
    width: 300px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    /* centers the congrats message  */
    transform: translate(-50%, -50%); 
    background: rgba(24, 24, 24, 0.85); /* dark semi-transparent underlay */
    border-radius: 16px;
    box-shadow: 0 4px 32px rgba(0,0,0,0.3);
    padding: 24px;
}


.small-message {
    width: 300px !important;
    height: auto !important;
    min-height: 120px;
    padding: 16px !important;
    font-size: 1rem;
}

#message h1 {
    font-size: 1.5rem;
}

/* 9. Attempted scoreboard */
#scoreboard {
    text-align:center; 
    margin-top: 1em;
    color: var(--primary-text-color);
}

.score-completed { color: green; }
.score-attempts { color: red; }


/* 10. Arrow Controls */
#mobile-controls {
    display: none;
    margin-top: 10px;
  }

  /* For smaller devices that require visual buttons to play  */
  @media (max-width: 768px) {
    #mobile-controls {
      display: block;
    }
    .arrow-btn {
      width: 48px;
      height: 48px;
      font-size: 1.5rem;
      padding: 0.5rem;
      margin: 0.2rem;
      background: var(--bg-color);
      border-radius: 8px;
      border: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: var(--secondary-text-color);
      box-shadow:
      /* main shadow */
      0 4px 12px rgba(0,0,0,0.25), 
      /* inner shadow for depth */
      0 1.5px 0 #222 inset;         
      transition: 
      box-shadow 0.15s,
      transform 0.1s,
      background 0.2s;
      cursor: pointer;
    }

    .arrow-btn:active {
        box-shadow:
          0 2px 4px rgba(0,0,0,0.18),
          0 1.5px 0 #222 inset;
        transform: translateY(2px) scale(0.97);
         /* Opposite linear gradient to give a 3D look when pressed */
        background: var(--opposite-bg-color);
      }
      
      .arrow-btn:focus {
        outline: 2px solid #bdb76b;
      }
  }

/* 11. Responsive: small/medium devices */
@media only screen and (max-width: 500px) {
      /* For light mode to sit underneath difficulty and start button */
      #menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
        height: auto;
    }

    /* Making only the difficulty and start button smaller */
    #diffSelect,
    #startMazeBtn {
        width: 99px;
    }

    /* targeting only the light mode  */
    #theme-toggle {
        max-width: 200px;
        margin-top: 8px;
        flex-basis: 100%;
        
    }
}

@media only screen and (max-width: 400px) {
    /* For success message */
    #message {
        width: 240px;
    }

    /* For fail message */
    .small-message {
        width: 240px !important;
    }
}

